[submodule "shake_content"]
	path = shake_content
	url = https://github.com/berryvansomeren/shake_content.git
[submodule "shake_core"]
	path = shake_core
	url = https://github.com/berryvansomeren/shake_core.git
[submodule "shake_ecs"]
	path = shake_ecs
	url = https://github.com/berryvansomeren/shake_ecs.git
[submodule "shake_graphics"]
	path = shake_graphics
	url = https://github.com/berryvansomeren/shake_graphics.git
[submodule "shake_hid"]
	path = shake_hid
	url = https://github.com/berryvansomeren/shake_hid.git
[submodule "shake_io"]
	path = shake_io
	url = https://github.com/berryvansomeren/shake_io.git
[submodule "shake_main"]
	path = shake_main
	url = https://github.com/berryvansomeren/shake_main.git
[submodule "shake_test_game"]
	path = shake_test_game
	url = https://github.com/berryvansomeren/shake_test_game.git
[submodule "cmake_generator"]
	path = cmake_generator
	url = https://github.com/berryvansomeren/cmake_generator.git
[submodule "shake_python"]
	path = shake_python
	url = https://github.com/berryvansomeren/shake_python.git
